{% extends 'shared.html' %}

{% block title %}
    <title>Deleted Inventory</title>
{% endblock title %}

{% block content %}
    <h1 style="text-align: center;">Michael's Store Deleted Inventory Information</h1>

    <table class="table table-bordered" style="border: 2px solid">
        <thead class = "thead-dark">
            <tr>
                <th scope="col">_id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Comments</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in deleted_inventory %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.name }}</tf>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.deleted_comments }}</td>
                    <td>
                        <a href="{% url 'revert-item' item.id %}"><button type="button" class="btn btn-danger">Revert Delete</button></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a href="{% url 'read-inventory' %}"><button type="button" class="btn btn-success">Back to Inventory</button></a>
    </div>
{% endblock content %}