{% extends 'shared.html' %}

{% block title %}
    <title>Revert Delete Item {{ item }}</title>
{% endblock title %}

{% block content %}
    <h1 style="text-align: center;">Revert Delete Item {{ item }} in Michael's Store </h1>

    <div class="alert alert-danger" role="alert">
        Revert delete on "{{ item }}"?
    </div>

    <form action="" method="POST" style="display:inline-block"> <!-- same url with post req -->
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Revert Delete</button>
    </form>
    <form action="../../" method="GET" style="display:inline-block"> <!-- same url with post req -->
        {% csrf_token %}
        <button class="btn btn-secondary">Cancel</button>
    </form>
{% endblock content %}